version: "3.0"

services:
  memcached:
    image: memcached
    restart: always
    expose:
      - "11211"

  yopass:
    image: khovanskiy5/yopass:latest
    restart: always
    ports:
      - "80:1337"
    command: "--memcached=memcached:11211"
